@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.inter-uniquifier {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header part */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    display: flex;

}

.nav-link {
    text-decoration: none;
    color: #3A3A3A;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.nav-bar,
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* start banner part */
.banner-content {
    max-width: 582px;
    margin: 0 auto;
    margin-top: 7px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: #3A3A3A;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.banner-descroption {
    color: #3A3A3A;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: none;
    margin-top: 7px;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

@media screen and (max-width:768px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

}